
html {
  font-size: 16px;
}

body {
  background-color: white;
}

h1, h2 {
  margin: 0;
}

header {
  background-color: #f0d096;
  color: black;
  text-align: center;
}

header h1 {
    margin: 0;
    font-size: 28px;
}

nav {
  color: white;
  font-size: 20px;
  padding: 10px 0px 20px 330px;

}

footer {
  background-color: #dcadc9;
    color: black;
    text-align: center;
    padding: 25px;
    position: fixed;
    bottom: 0;
    width: 96%;
}

footer p {
  margin: 0;
  font-size: 25px;
  font-weight: bold;
}

main {
  background-color: #eea4a4;
  padding: 1rem;
  margin: auto;
}

/* section {
  margin: 1rem 0 0;
  line-height: 1.5rem;
  white-space: pre-line;
} */

/* Dark Mode */ 

body[data-theme='dark'] {
    background-color: gray;
    color: white;
}

main[data-theme='dark'] {
    background-color: black;
    color: white;
}

footer[data-theme='dark'] {
  background-color: #000000;
    color: #f0d096;
    text-align: center;
    padding: 25px;
    position: fixed;
    bottom: 0;
    width: 96%;
}

header[data-theme='dark'] {
  background-color: ##664124;
  color: #000000;
  text-align: center;
}
