<!DOCTYPE html>
<html lang="en">
<head>
  <title>About Book Project</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--  <link rel="manifest" href="/site.webmanifest"> -->
  <link rel="stylesheet" type="text/css" href="site.css">
<!--  <script src="/server.js" type="module" async></script> <!-- ejs path -->
</head>
<body>
  <%- include('./shared/header.ejs') %>
  <main>
  <header>
  <button type="button">🌙</button>
      <h1>About Page</h1>
      <nav>
        <ul>
          <li><a href="/about">About</a></li> <!-- ejs path -->
          <li><a href="/">Index</a></li>  <!-- ejs path -->
        </ul>
      </nav>
    </header>
    <p>Bradley Hayes<p>
    <li><a href="https://github.com/it-sd-sqc/sqc-project-MintyTime">My GitHub repo</a></li>
         <script src="/page.js"></script> <!-- ejs path -->
  </main>
</body>
</html>

