<!DOCTYPE html>
<html lang="en">
<head>
  <title>Index Book Project</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--  <link rel="manifest" href="/site.webmanifest"> -->
  <link rel="stylesheet" type="text/css" href="site.css">
<!--  <script src="/server.js" type="module" async></script> <!-- ejs path -->
</head>
<body>
  <main>
    <header>
    <button type="button">🌙</button>
      <h1>Index Page</h1>
      <h2>Dice Roll = <%= diceRoll %> </h2>
      <nav>
        <ul>
          <li><a href="/about">About</a></li> <!-- ejs path -->
          <li><a href="/">Index</a></li>  <!-- ejs path -->
        </ul>
      </nav>
    </header>
    
      <p>
        This is the index page
      </p>
    <script src="/page.js"></script>  <!-- ejs path -->
  </main>
</body>
</html>

