<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="site.css">
  <title>Testing</title>
</head>
<body>
  <%- include('../shared/header.ejs') %>
    <h1>Test Test !!</h1>
    <script src="/page.js"></script>  <!-- ejs path -->
</body>
<%- include('../shared/footer.ejs') %>
</html>